.categorias-container {
  background-color: var(--color-cuarto);
  border: 1px solid var(--color-fondo);
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  padding: 3rem;
  flex-wrap: wrap;
}
.controles {
  flex: 1 1 300px;
  min-width: 280px;
}
.listado {
  flex: 1 1 300px;
  min-width: 280px;
}
ul {
  list-style: none;
  padding-left: 0;
}

li.no-selected,
li.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  border-radius: 6px;
  user-select: none;
}

li.no-selected {
  outline: 1px solid var(--color-fondo);
  background-color: var(--color-cuarto);
}

li.selected {
  background-color: var(--resaltar);
  color: var(--color-cuarto);
  outline: none;
}

.btn-intercambiar {
  background-color: var(--resaltar);
  color: var(--color-cuarto);
  margin-bottom: 1rem;
  width: 100%;
}
.btn-agregar-cat {
  background-color: var(--resaltar);
  color: var(--color-cuarto);
  width: 100%;
}
.btn-agregar-cat:hover,
.btn-intercambiar:hover {
  background-color: var(--color-cuarto);
  color: var(--resaltar);
  outline: 2px solid var(--resaltar);
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--color-fondo);
  outline: 1px solid var(--color-fondo);
}

button:hover {
  outline: none;
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--color-principal4);
}
button:disabled:hover {
  cursor: not-allowed;
  background-color: var(--color-principal4);
  outline: none;
  color: var(--color-cuarto);
}

.btn-eliminar {
  background-color: var(--color-fondo);
  color: var(--color-cuarto);
}

.btn-eliminar:hover {
  background-color: var(--color-cuarto);
  color: var(--color-fondo);
  outline: 1px solid var(--color-fondo);
}

.accion-categoria {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.p-categoria {
  font-style: italic;
}

.btn-agregar-cat {
  width: 100%;
}

.div-intercambio {
  display: flex;
  gap: 10px;
}

@media (max-width: 700px) {
  .categorias-container {
    flex-direction: column;
  }
  .controles,
  .listado {
    min-width: 100%;
  }
}
