.h-login {
  background-color: var(--resaltar); /* El color de fondo */
  color: var(--color-principal1);
  width: 100vw; /* 100% del ancho de la ventana */
  padding: 1rem; /* Espacio interno opcional */
  text-align: center; /* Centra el texto (opcional) */
}

/* Elementos del formulario */
.element-form {
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Estilo del formulario */
.div-login {
  height: 70vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/* Estilo del formulario */
.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--resaltar);
  border-radius: 8px;
  background-color: #fff;
  max-width: 320px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(8, 190, 190, 0.1);
}

button.element-form:hover {
  border-color: black;
}
