:root {
  --background: #e9ecef;
  --resaltar: #00c7ff;
  --color-terciario: #61dafb;
  --color-cuarto: white;
  --color-fondo: #343a40;
  --color-quinto: #28a745;
  --color-sexto: #dc3545;
  --color-shadow: rgba(0, 0, 0, 0.1);
  /*styles*/

  /*usuario*/
  --color-secundario1: #ddd;
  --color-terciario1: #007bff;

  --color-septimo: #6c757d;

  /*SearchForm*/
  --color-principal4: #ccc;
  --color-terciario4: #555;
}
