.div-perfil-izq {
  background-color: white;
}

.perfil-container {
  display: inline-block;
  border: 2px solid var(--color-fondo);
  padding: 40px;
  background-color: var(--color-principal1);
  border-radius: 8px;
}
