/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main */
main {
  background-color: var(--background);
}
.main-content {
  flex: 1;
  padding: 1rem;
}

/* Mensaje de error */
.message-error {
  margin-top: 1rem;
  color: red;
  text-align: center;
}

.message-success {
  margin-top: 1rem;
  color: green;
  text-align: center;
}

button {
  background-color: var(--color-cuarto);
  color: var(--color-fondo);
}

button:hover {
  background-color: var(--resaltar);
  color: var(--color-cuarto);
}
