.form-subir-archivo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-title {
  text-align: center;
}

/* Input de archivo */
.file-input {
  border: 0.5px solid var(--color-fondo);
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--background);
}

/* Botón subir archivos */
.btn-subir-archivos {
  align-self: center;
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  background-color: var(--color-fondo);
  color: var(--color-principal1);
}

.btn-subir-archivos:hover {
  background-color: var(--resaltar);
  color: var(--color-principal1);
}

/* Label categoría */
.autocomplete-wrapper label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: var(--color-fondo);
}

/* Focus styles para inputs */

.file-input:focus {
  border-color: var(--resaltar);
  outline: none;
  box-shadow: 0 0 2px var(--resaltar);
}

.nota-subida {
  font-style: italic;
  cursor: default;
  user-select: none;
}
